<div class="container content">
    <div class="row">
        <div class="col-md-8">
            <ul>

                <li *ngFor="let x of vector">{{x}}</li>


            </ul>
        </div>
    </div>
</div>