<div	class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                    <span class="anchor"	id="formLogin"></span>
            <div class="card	card-outline-secondary">
                        <div class="card-header">
                            <h3	class="mb-0">Primera Tarea - Angular Coursera - AUSTRAL</h3>
                        </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label	for="texto">Texto</label>
                                <input	type="text"	class="form-control" id="texto"	placeholder="Ingresar texto" #texto>						
                        </div>
                        <button	type="submit" class="btn btn-primary" (click)="pintar(texto.value)">Guardar!</button>
                        
                    </form>
                </div>

            </div>
        </div>
        
        <div class="col-md-12">
            <p>Texto reciente: {{text}}</p>
            <br>
            <p>Array de caja de texto</p>
            <ul>
                <li *ngFor="let x of vector">{{x}}</li>
            </ul>
        </div>
       
        <div class="col-md-12">
            <p>Componente mostrando array estático</p>
            <app-dos-componente></app-dos-componente>
        </div>
       
    </div>
</div>
